*
{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body {overflow-x: hidden;}
li{list-style: none;}
button
{
    padding: 3px 10px;
    cursor: pointer;
}
select
{
    padding: 4px;
    background-color: #dedede;
}
ul
{
    margin-top: 10px;
    position: relative;
    width: 100vw;
}
li
{
    display: flex;
}
li > *
{
    width: 15vw;
    border: 1px solid black;
    text-align: center;
}

section
{
    width: 300px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 100px;
}
section > p
{
    height: 30px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}